<div class="container">
  <%= render "devise/shared/error_messages", resource: resource %>
</div>
<div class="main2">
  <p class="sign" align="center">Sign up</p>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form1"}) do |f| %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "un ", placeholder: "Email"%>

    <%= f.password_field :password, autocomplete: "new-password", class: "pass", placeholder: "Password" %><br />
    <p class= "mini">(6 characters minimum)</p>

    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "con-pass", placeholder: "Password confirmation" %>

    <%= f.submit "Sign up", class: "submit" %>

    <p class="forgot" align="center">
      Already have an account?<%= render "devise/shared/links" %>
    </p>
  <% end %>
</div>




