<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row my-2">
    <div class="col-lg-4">
      <%= form.label :task_name, class: "form-label" %>
      <%= form.text_field :task_name, class: "form-control" %>
    </div>
  </div>

  <div class="row my-2">
    <div class="col-lg-4">
      <%= form.label :task_details, class: "form-label" %>
      <%= form.text_area :task_details, class: "form-control" %>
    </div>
  </div>

  <div class="row my-2">
    <div class="col-lg-4">
      <%= form.label :due_date, class: "form-label" %>
      <%= date_field("task", :date) %>
    </div>
  </div>

  <div class="row my-2">
    <div class="col-lg-4">
      <%= form.label :category_id, class: "form-label" %>
      <%= form.collection_select :category_id, current_user.categories, :id, :category_title, include_blank: true, class: "form-select" %> 
      <%= link_to "Add category", new_category_path %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-success' %>
  </div>
<% end %>
