<div class="container">
  <%= render "devise/shared/error_messages", resource: resource %>
</div>
<div class="login-dark" style="height: 695px;">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    
    <div class="illustration"><i class="fa-solid fa-paper-plane"></i></div>
    <h5>Forgot your password?</h5>
    <div class="field form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "example@email.com" %>
    </div>

    <div class="actions my-2">
      <%= f.submit "Reset password", class: "btn btn-primary btn-block col-lg-10 text-align-start" %>
    </div>
    <%= render "devise/shared/links" %>
  <% end %>


</div>
