<div class="main">
  <p class="sign" align="center">Sign in</p>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form1"}) do |f| %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "un ", placeholder: "Email"%>
    <%= f.password_field :password, autocomplete: "current-password", class: "pass", style: "margin-bottom: 27px", placeholder: "Password" %>

    <%= f.submit "Log in", class: "submit" %>

    <p class="forgot" align="center">
      <%= render "devise/shared/links" %>
    </p>
  <% end %>
</div>