
<div class="container">
  <h1>Categories</h1>
  <%= link_to 'New Category', new_category_path, class: "btn btn-outline-primary float-end mb-2" %>
  <table class="table table-bordered col-md">
    <thead >
      <tr class="text-center">
        <th scope="col">Title</th>
        <th scope="col">Details</th>
        <th scope="col" class="col-4">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
      <% if category.user == current_user%>
      <tr>
        <td><%= category.category_title %></td>
        <td><%= category.category_details %></td>
        <td><%= link_to ' Show', category, class: "btn btn-success me-md-2 fa-regular fa-envelope-open" %>
            <%= link_to ' Edit', edit_category_path(category), class: "btn btn-info me-md-2 fa-regular fa-pen-to-square" %>
            <%= link_to ' Delete', category, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger me-md-2 fa-regular fa-trash-can" %></td>
      </tr>
      <%end%>
      <%end%>

      
</div>

