<div class="box ">
  <div class="card text-center">
    <div class="card-header">
      <%= link_to 'New Category', new_category_path, class: "btn btn-outline-primary float-end" %>
    </div>
    <div class="card-body">
      <p>Category Name</p>
      <h4><%= @category.category_title %></h4>

      <p>Category details</p>
      <h4><%= @category.category_details %></h4>

      <p>
        created at
        <%= @category.created_at.to_time.strftime('%B %e %Y at %l:%M %p') %>
      </p>
    </div>
    <div class="card-footer">
      <%= link_to ' New Task', new_task_path, class: "btn btn-primary bi-plus-lg space" %>
      <%= link_to ' Edit', edit_category_path(@category), class: "btn btn-success bi-pencil-fill space" %>
      <%= link_to ' Back', :back, class: "btn btn-danger bi-arrow-left-short space" %>
    </div>
  </div>
</div>
